.parent-viewProfile {
    margin-top: 65px;
    display: flex;
    padding: 15px 70px;
    justify-content: space-between;
    background-color: #f5f5f5;
    font-size: 16px;
}

.item1-viewProfile {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-start;
}

h1 {
    text-align: center;
    color: red;
}

.warning {
    position: relative;
    margin: 250px 500px;
}

.item2-viewProfile {
    flex-grow: 1;
    background-color: #fff;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 50px 50px 30px 50px;
}

.text1-viewProfile {
    margin-bottom: 15px;
    font-weight: 500;
}

.text2-viewProfile {
    margin-bottom: 11px;
    color: grey;
}

hr {
    margin-bottom: 40px;
    color: #000;
}

.content-viewProfile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}

.username-viewProfile {
    color: grey;
    margin: 40px 45px 0px 55px;
}

.button1 {
    margin-top: 45px;
    background-color: #d9d9d9;
    width: 230px;
    height: 50px;
    border: solid #000;
}

.button2 {
    background-color: #d9d9d9;
    height: 50px;
    width: 230px;
    margin-top: 56px;
    border: solid #000;
}

.button1:hover,
.button2:hover {
    background-color: rgb(24, 209, 24);
}

.contentItem-viewProfile {
    display: flex;
    justify-content: flex-start;
}

.contentItem-viewProfile > input {
    border: solid rgb(203, 183, 183);
    height: 27px;
    width: 280px;
}

.search-ViewOrderHistory {
    width: 480px;
    height: 40px;
    background-color: #d9d9d9;
    opacity: 54%;
    border-radius: 40px;
}

.searching {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 46px;
    width: 100%;
    display: flex;
    .iconSearch {
        height: 30px;
        padding: 8px 15px;
        border-radius: 20px 0px 0px 20px;
        color: #333;
    }
    .iconSearch:hover {
        background-color: red;
        cursor: pointer;
        color: #fff;
    }
    .search-bar {
        height: 46px;
        padding-left: 10px;
        font-size: 16px;
        width: 90%;
        background-color: #d9d9d9;
    }
}

.cancel {
    margin-left: 355px;
    margin-right: 15px;
    background-color: red;
    color: #fff;
    margin-top: 30px;
}

.change-inf {
    background-color: green;
    color: #fff;
}

.cancel:hover {
    background-color: red;
    color: #fff;
}

.change-inf:hover {
    color: #fff;
    background-color: green;
}
