.price {
    color: var(--admin-primary);
    font-size: 1rem;
    font-weight: 400;
}

.normal {
    color: var(--text-color);
}

.large {
    font-size: 24px;
    font-weight: 500;
}

.primary {
    color: var(--customer-primary);
}
