@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500&display=swap');
:root {
    //For all
    --white: #fff;
    --black: #000;
    --text-color: #333;

    //for customer UI
    --custommer-primary: #a52a2a;

    // For admin Ui
    --admin-primary: #007bff;

    --admin-header-height: 56px;
    --admin-footer-height: 60px;

    --custommer-header-height: 56px;
    --custommer-footer-height: 60px;
}
* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-rendering: optimizespeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
