@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500&display=swap');
:root {
    //For all
    --white: #fff;
    --black: #000;
    --text-color: #333;

    //for customer UI
    --customer-primary: #a52a2a;

    // For admin Ui
    --admin-primary: #007bff;

    --admin-header-height: 56px;
    --admin-footer-height: 60px;

    --customer-header-height: 70px;
    --customer-footer-height: 60px;
}
* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizespeed;
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1rem;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

//custm form-floating from bootstrap

// .form-floating {
//     .form-control,
//     .form-control-plaintext {
//         padding: 1rem 0.75rem;
//     }
//     .form-control,
//     .form-control-plaintext {
//         height: calc(2.5rem + 2px);
//         line-height: 1;
//     }
//     .form-select {
//         height: calc(2.7rem + 2px);
//         padding-top: 1rem;
//         padding-bottom: 0;
//     }
// }

.form-floating > label {
    // padding: 0.6rem 0.75rem;
    // font-size: 0.9rem;
    // color: #999;
    transition: 0.2s all linear;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--customer-primary);
    outline: 0;
    box-shadow: 0 0 0 1px rgb(165, 42, 42);
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--customer-primary);
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--customer-primary);
  }
  
  #tippy-1 {
    inset: 0px -100px auto auto !important;
  }

  .text-overflow-ellipsis-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .text-brown {
    color: #a52a2a;
  }