.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 9px 16px;
    cursor: pointer;
    user-select: none;

    + .wrapper {
        margin-left: 12px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,  // trường hợp icon nằm bên trái
.title + .icon // trường hợp icon nằm bên phải
{
    margin-left: 8px;
}

.rounded {
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-radius: 999px;
    border-color: rgba(22, 24, 35, 0.12);
}

.text {
    &:hover {
        opacity: 0.8;
    }
}

.primary {
    border-color: var(--admin-primary);
    background-color: var(--admin-primary);
    color: #fff;
    font-weight: 400;
    &:hover {
        color: #fff;
        border-color: transparent;
        background-color: linear-gradient(0deg, rgb(0, 105, 217), rgb(35, 113, 181));
    }
}

.user {
    background-color: var(--customer-primary);
    border-color: var(--customer-primary);
    &:hover {
        color: #fff;
        border-color: transparent;
        background-color: rgb(225, 111, 111);
    }
}

.outline {
    border-color: currentColor;
    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.small {
    min-width: 88px;
    padding: 5px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 210px;
    min-height: 40px;
}
