.wrapper {
    font-weight: 400;
    font-size: 14px;
    padding: 4px;

    border-radius: 8px;
    color: var(--white);
    &:hover {
        opacity: 0.8;
    }
}

.waitting {
    background-color: #5a6268;
}
.confirmed {
    background-color: #007bff;
}
.intrans {
    background-color: #17a2b8;
}
.success {
    background-color: #28a745;
}
.undelivered {
    color: #333;
    background-color: #ffa500;
}
.cancel {
    background-color: #dc3545;
}

.container {
}

.container2 {
    border: solid #b5abab;

    padding: 20px 20px;
    background-color: #f5f5f5;
    margin: 20px 0;
}

.item1 {
    text-transform: uppercase;
    color: brown;
    line-height: 25px;
    font-weight: bold;
}
.item1-1 {
}
.item1-2 {
}
.item2 {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}
.item2-1 {
    line-height: 50px;
    height: 50px;
}
.item2-2 {
}

.item4 {
    width: 210px;
    height: 50px;
    background-color: grey;
    color: #fff;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    margin-left: 526px;
    margin-top: 10px;
}

.item5 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.item5-1,
.item5-2 {
    background-color: brown;
    text-align: center;

    color: #fff;
    text-transform: uppercase;
}

.item5-3 {
    background-color: brown;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.item5-1:hover,
.item5-2:hover,
.item5-3:hover {
    background-color: green;
    cursor: pointer;
}
