// for all pages
.heading {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
}

//Home page css
.report {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 4rem;
    .report-heading {
        color: rgb(255, 0, 166);
    }
    .num-order {
        font-size: 4rem;
        color: red;
    }
    .total-turnover {
        font-size: 4rem;
        color: red;
    }
}

// Manage order page css
.order-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}
.order-search {
    border: 1px solid #ccc;
    width: 40%;
    max-width: 500px;
    padding: 8px 16px;
    border-radius: 8px;
}
.order-pagination {
    display: flex;
    align-items: center;
    .pagination-btn {
        border: 1px solid #ccc;
        font-size: 14px;
        font-weight: 300;
        padding: 4px 8px;
        height: 36px;
        &:hover {
            background: #007bff;
            color: #fff;
        }
    }
}

.dropdown-custom {
    margin: 0 8px;
    .title {
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: 300;
        color: var(--text-color);
        background-color: #fff;
        border: 1px solid #ccc;
        height: 36px;
        &::after {
            vertical-align: middle;
        }
    }
    .menu-item {
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: 300;
    }
}

.orders-status-filter {
    display: flex;
    justify-content: center;
    margin: 24px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

//Order details css
.wrapper {
    border: 1px solid #ccc;
    border-radius: 16px;
    .header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
        .status {
            max-height: 30px;
        }
    }
    .back {
        max-width: 60px;
        margin-right: auto;
    }
    .order-id {
        margin: 0 8px;
        // &::after {
        //     content: '';
        //     height: 80%;
        //     color: red;
        // }
    }
}
