.wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--admin-primary);
    height: var(--admin-header-height);
    text-align: center;
}

.inner-header {
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    .logo-wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
            color: #333;
            font-size: 2rem;
            font-weight: 600;
            margin-left: 8px;
        }
    }

    .logo {
        width: 140px;
        height: 44px;
        background-color: transparent;
    }
}

.menu {
    flex: 1;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 32px;
    li {
        padding: 0px 16px;
        height: 56px;
        &:hover {
            background-color: #032b91;
        }
        a {
            color: var(--white);
            font-weight: 600;
            line-height: 56px;
            height: 56px;
            font-size: 1rem;
        }
    }
    li.active {
        background-color: #032b91;
    }
    // .active > a {
    //     color: var(--admin-primary);
    // }
}

.user {
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
    padding: 4px 16px;
    height: var(--admin-header-height);
    background-color: transparent;
    color: var(--white);
    .icon {
        margin-left: 8px;
    }
    p {
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
    }
    &:hover {
        background-color: #032b91;
    }
}
