.container {
    min-height: calc(100vh - var(--admin-header-height) - var(--admin-footer-height) - 56px);
    max-width: 1200px;
    margin: var(--admin-header-height) auto 0;
    padding-top: 24px;
}
