.heading {
    background-color: var(--white);
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    margin-bottom: 24px;
}
.wrapper {
    max-width: 1200px;
    margin: auto;
}
.cart-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 16px;
}
.select-all {
    display: flex;
    align-items: center;
    input {
        margin-right: 8px;
    }
}

.calc-cost {
    margin-left: auto;
    margin-right: 16px;
    span {
        margin-left: 4px;
    }
}

.buy-btn {
    background-color: #ff0000;
    outline: none;
    border: none;
    width: 120px;
    font-size: 1rem;
    font-weight: 400;
    padding: 8px 16px;
    color: var(--white);
    &:hover {
        background-color: var(--custommer-primary);
    }
    &:focus-visible,
    &:not(:disabled):not(.disabled):active &:focus:not(:focus-visible) {
        outline: none;
        border-color: (--custommer-primary);
        background-color: var(--custommer-primary);
    }
}

.quantity-controller {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin: 0 32px 0 auto;
    gap: 8px;
}
