.heading {
    margin-bottom: 24px;
}

.cart-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-all {
    display: flex;
    align-items: center;
    input {
        margin-right: 8px;
    }
}

.calc-cost {
    margin-left: auto;
    margin-right: 16px;
    span {
        margin-left: 4px;
    }
}

.buy-btn {
    background-color: #ff0000;
    outline: none;
    border: none;
    width: 120px;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 8px 16px;
    color: var(--white);
    &:hover {
        background-color: var(--custommer-primary);
    }
    &:focus-visible,
    &:not(:disabled):not(.disabled):active &:focus:not(:focus-visible) {
        outline: none;
        border-color: (--custommer-primary);
        background-color: var(--custommer-primary);
    }
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 8px 16px;
    border: 1px solid #ccc;

    img {
        width: 60px;
        margin: 0 16px;
    }
    .remove-btn {
        max-height: 30px;
    }
}

.quantity-controller {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin: 0 32px 0 auto;
    gap: 8px;
}
