.report {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 4rem;
    .report-heading {
        color: rgb(255, 0, 166);
    }
    .num-order {
        font-size: 4rem;
        color: red;
    }
    .total-turnover {
        font-size: 4rem;
        color: red;
    }
}
