// for all pages
.heading {
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
}

//Home page css
.report {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 40;
    padding: 16px;

    .report-heading {
        color: rgb(255, 0, 166);
    }

    .num-order {
        font-size: 40px;
        color: red;
    }

    .total-turnover {
        font-size: 40px;
        color: red;
    }
}

// Manage order page css
.order-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.order-search {
    border: 1px solid #ccc;
    width: 40%;
    max-width: 500px;
    padding: 8px 16px;
    border-radius: 8px;
}

.order-pagination {
    display: flex;
    align-items: center;

    .pagination-btn {
        border: 1px solid #ccc;
        font-size: 14px;
        font-weight: 300;
        padding: 4px 8px;
        height: 36px;

        &:hover {
            background: #007bff;
            color: #fff;
        }
    }
}

.dropdown-custom {
    margin: 0 8px;

    .title {
        font-size: 14px;
        line-height: 1rem;
        font-weight: 300;
        color: var(--text-color);
        background-color: #fff;
        border: 1px solid #ccc;
        height: 36px;

        &::after {
            vertical-align: middle;
        }
    }

    .menu-item {
        font-size: 14px;
        line-height: 1rem;
        font-weight: 300;
    }
}

.orders-status-filter {
    display: flex;
    justify-content: center;
    margin: 24px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.orders-wrapper {
    margin-bottom: 24px;
}

//Order details css
.order-details-wrapper {
    border: 1px solid #ccc;
    border-radius: 16px;
    margin: 16px 0;

    .header {
        display: flex;
        align-items: center;
        padding: 8px 16px 8px 0;
        border-bottom: 1px solid #ccc;

        .status {
            max-height: 30px;
        }
    }

    .back {
        max-width: 60px;
        margin-right: auto;
    }

    .order-id {
        margin: 0 8px;

        &::after {
            content: '';
            border-right: 1px solid #ccc;
            padding-left: 8px;
        }
    }

    .order-info {
        display: flex;
        flex-direction: column;
        padding: 16px;
        border-bottom: 1px solid #ccc;

        .user-name {
            margin-bottom: 8px;
        }
    }

    .address-info {
        padding: 16px;
        border-bottom: 1px solid #ccc;
    }

    .products-info {
        padding: 16px;
    }

    .payment-info {
        padding: 0 16px 16px 16px;
    }

    .payment-info-item {
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: flex-end;

        span:first-child {
            width: 80%;
            text-align: right;
            padding: 4px;
        }

        span:last-child {
            width: 30%;
            padding: 4px;
        }
    }
}

.order-details--actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

    button+button {
        margin-left: 8px;
    }
}


//manage book add   
.manage-book-wrapper {
    //border: 1px solid #ccc;
    //border-radius: 16px;
    margin: 16px 0;

    .header {
        display: flex;
        align-items: center;
        padding: 8px 16px 0px 0px;
        border-bottom: 1px solid #DDDDDD;
        justify-content: space-between;
    }

    .chosen {
        font-weight: normal;
        border-style: solid;
        border-width: 1px 1px 0 1px;
        border-radius: 10px 10px 0 0;
        border-color: #DDDDDD;
    }

    .unchosen {
        font-weight: normal;
        color: #0275D8;

        &:hover {
            background-color: #DDDDDD;
        }
    }

    .searchbox {
        float: right;
        width: 120%;
        max-width: 300px;
        background-color: white;
    }

    .tableview {
        margin-top: 10px;
        padding: 10px;
        min-height: 500px;
    }

    .tag {
        border: 1px solid #ccc;
        margin: 2px;
        padding: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 3px;
        background: #f2f2f2;
        font-size: 12px;
    }

    thead th {
        vertical-align: middle;
        color: #337AB7;
        min-width: 70px;
        max-width: 150px;
        font-weight: normal;
    }

    td {
        vertical-align: middle;
    }

    .bottom-pagination {
        display: flex;
        justify-content: center;

        .pagination-btn {
            border: 1px solid #ccc;
            font-size: 14px;
            font-weight: 300;
            padding: 4px 8px;
            height: 36px;

            &:hover {
                background: #007bff;
                color: #fff;
            }
        }
    }
}

span[id="iconClass"] {
    background-color: white !important
}

input[type="text"] {
    font-size: 15px !important;
}

.add-view {
    margin-top: 50px;

    .field {

        margin-top: 25px;
        width: 60%;
        max-width: 100%;
        background-color: white;
    }

    .add-image {
        display: flex;
        justify-content: center;
        float: right;
        width: 40%;
    }

    .image {
        font-size: 100px !important;
    }

    .full-field {
        margin-top: 25px;
        max-width: 100%;
        background-color: white;
    }

    .synopsis-field {
        margin-top: 25px;
        max-width: 100%;
        background-color: white;

        textarea {
            font-size: 16px;
        }
    }

    .button-field {
        margin-top: 25px;
        margin-left: 30%;
        width: 40%;
        display: flex;
        justify-content: space-around;
    }
}

.member-wrapper {
    margin: 16px 0;

    .header {
        display: flex;
        align-items: center;
        padding: 8px 16px 0px 0px;
        border-bottom: 1px solid #DDDDDD;
        justify-content: space-between;
    }

    .searchbox {
        float: right;
        width: 120%;
        max-width: 300px;
        background-color: white;
    }

    .tableview {
        margin-top: 10px;
        padding: 10px;
        min-height: 500px;
    }

    thead th {
        vertical-align: middle;
        color: #337AB7;
        min-width: 70px;
        max-width: 150px;
        font-weight: normal;
    }

    td {
        vertical-align: middle;
    }

    .bottom-pagination {
        display: flex;
        justify-content: center;

        .pagination-btn {
            border: 1px solid #ccc;
            font-size: 14px;
            font-weight: 300;
            padding: 4px 8px;
            height: 36px;

            &:hover {
                background: #007bff;
                color: #fff;
            }
        }
    }

    .total {
        // display: inline;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 20px;
        font-size: 20px;
        color: #979292;
    }

    .search,
    .them {
        margin-bottom: 20px;
        border: 1px solid #000000;

        border-radius: 15px;
    }

    .search {
        // margin-left: 5%;
        font-size: 10px;
        padding: 15px 15px 15px 15px;
        width: 50%;
        max-width: 400px;
        margin-bottom: 10px;
        background-color: white;
    }

    .input-text {
        height: 20px;
        width: 90%;
        max-width: 400px;
    }

    .them {
        float: right;
        font-size: 15px;
        color: white !important;
        margin-left: 2%;
        margin-top: 20px;
        // background: #0C3B7C;
        background: rgba(43, 118, 236, 0.9);
    }

    .xoa {
        background: #0c3b7c;
    }

    .filter {
        margin-left: 10%;
        font-size: 15px;
        font-weight: 400;
    }

    .group {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    item {
        display: inline-block;
    }

    label {
        margin-left: 5px;
        font-size: 20px;
        padding: 7px;
    }

    .choice {
        width: 110px;
        border: 2px solid gray;
        border-radius: 10px;
        margin-left: 2em;
        background-color: white;
        padding: 15px 15px 15px 15px;
        font-size: 18px;

        &:focus {
            background-color: #3a48e1ec;
            color: #f2f2f2;
            border: 0px;
        }

    }

    .hide {
        visibility: hidden;
    }
}



form label {
    font-weight: bold
}