.wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: brown;
    height: var(--customer-header-height);
    text-align: center;
}

.inner-header {
    height: 100%;
    display: flex;
    padding: 8px 0;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    h1 {
        font-size: 30px;
    }
    .logo-wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: white;
    }

    .logo {
        margin-right: 10px;
        width: 62px;
        height: 44px;
        background-color: transparent;
    }

    .iconCart {
        color: white;
        height: 25px;
    }
}

.searching {
    background-color: white;
    border-radius: 20px;
    height: 60%;
    width: 40%;
    display: flex;
    align-items: center;
    .iconSearch {
        margin-left: 10px;
        height: 60%;
    }
    .search-bar {
        height: 100%;
    }
}

.user {
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
    padding: 4px 4px;
    background-color: transparent;
    color: white;
    .iconUser {
        margin-right: 8px;
    }
    .iconDown {
        margin-left: 8px;
    }
    p {
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
    }
}

.arrow-top-center {
    &::before {
        content: '';
        position: absolute;
        top: -27px;
        left: 50%;
        margin-left: -5px;
        border-width: 14px;
        border-style: solid;
        border-color: transparent transparent white transparent;
    }
}

.arrow-top-end {
    &::before {
        content: '';
        position: absolute;
        top: -27px;
        left: 70%;
        margin-left: -5px;
        border-width: 14px;
        border-style: solid;
        border-color: transparent transparent white transparent;
    }
}

.popper {
    width: 400px;
    overflow: hidden;
}