.wrapper {
    padding: 32px 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .slider {
        display: flex;
        width: 100%;
        display: flex;
        justify-content: center;
    }   

    .slider-item {
        animation: fadeIn 0.5s linear;
    }

    .ctrl-slider {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .ctrl-icon {
        font-size: 10px;
        color: #ccc;
        padding: 2px;
        &.active {
            color: red;
        }
    }
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.leftIcon {
    font-size: 40px;
    position: absolute;
    left: 0;
}

.rightIcon {
    font-size: 40px;
    position: absolute;
    right: 0;
}

@keyframes slideToLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideToRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
