.footer {
    width: 100%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
    height: var(--admin-footer-height);
    margin: 0;
}
