.container {
    min-height: calc(100vh - var(--custommer-header-height) - var(--custommer-footer-height));
    max-width: 1200px;
    margin: calc(var(--custommer-header-height) + 24px) auto;
    flex: 1;
}

a {
    text-decoration: none;
    &:hover {
        color: black;
    }
}
