.post-item {
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 160px;
    border: solid #d9d9d9;
    background-color: #d9d9d9;
    justify-content: space-between;
}

.book-image {
    width: 150px;
    height: 100%;
}

.content {
    margin: 20px 0 20px 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.book-name {
    font-weight: bold;
}

.book-author {
    font-style: italic;
    text-decoration: underline;
}

.book-price {
    color: red;
}

.booksPrice {
    width: 190px;
    height: 36px;
    background-color: grey;
    text-align: center;
    margin: auto 10px;
    line-height: 36px;
    color: #fff;
}
