.container {
    border: solid #f5f5f5;
    padding: 20px;
    margin-bottom: 40px;
    background-color: #f5f5f5;
}

.item1 {
    text-transform: uppercase;
    color: brown;
    line-height: 25px;
    font-weight: bold;
}
.item1-1 {
}
.item1-2 {
}
.item2 {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}
.item2-1 {
    line-height: 50px;
    height: 50px;
}
.item2-2 {
    width: 180px;
    height: 50px;
    background-color: green;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
}

.item4 {
    width: 180px;
    height: 50px;
    background-color: grey;
    color: #fff;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    margin-left: 526px;
    margin-top: 10px;
}

.item5 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.item5-1,
.item5-2 {
    width: 90px;
    height: 45px;
    background-color: brown;
    text-align: center;
    line-height: 45px;

    color: #fff;
    text-transform: uppercase;
}

.item5-3 {
    width: 160px;
    height: 45px;
    background-color: brown;
    text-align: center;
    line-height: 45px;
    color: #fff;
    text-transform: uppercase;
}

.item5-1:hover,
.item5-2:hover,
.item5-3:hover {
    background-color: green;
    cursor: pointer;
}
